@font-face {
    font-family: 'Noto Sans JP';
    src: url('./NotoSansJP-VariableFont_wght.ttf') format('woff2');
    /* Add more src declarations for different font formats if needed */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINAlternate';
    src: url('./DINAlternate-Bold.woff') format('woff2');
    /* Add more src declarations for different font formats if needed */
    font-weight: normal;
    font-style: normal;
}

/* Use the font in your CSS */
body {
    font-family: 'Noto Sans JP';
}

html {
    font-size: 0.52vw;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

section {
    max-width: 100%;
    overflow: hidden;
}

.container {
    max-width: 100%;
    width: 1100px;
    margin-inline: auto;
}

@media(max-width:1150px) {
    .container {
        padding: 0 25px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: #333;
    font-family: 'Noto Sans JP';
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 42px;
    color: #FF607C;
    margin: 10px 0;
    text-align: center;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
    color: #FFA9B8;
    margin: 30px 0;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

button {
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 950px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}

/* section first-view style start */
section.first-view {
    position: relative;
}

.first-view-left {
    width: 110rem;
    position: relative;
    padding: 12rem 0 27rem;
    background-image: linear-gradient(to right, #FFF4F8, #FFF4F8, #FFF4F8, #FFF4F8, #FFF4F8, #FFF4F8, #FFF4F800);
}

.first-view-title {
    margin-bottom: 4rem;
}

.first-view-title>div>svg {
    margin-right: 1rem;
    height: 80px;
}

@media (max-width:1360px) {
    .first-view-title>div>svg {
        width: 28px;
        height: 40px; 
    }

    .first-view-left {
        width: 50%;
    }
}

.first-view-title>div {
    display: flex;
    justify-content: center;
}

.first-view-left h4 {
    color: #555;
    text-align: center;
    margin-bottom: 5.8rem;
}

.fv_contact button {
    display: block;
    border-radius: 40px;
    background: #FF7E95;
    margin: auto;
    padding: 19px 45px;
    color: #FFF;
    font-weight: 700;
    border: none;
}

.first-view-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: -webkit-fill-available;
}

.first-view-img svg {
    width: 100%;
    height: 100%;
}



@media (max-width: 768px) {
    .first-view-img {
        width: 100%;
        height: auto;
        right: unset;
        left: 0;
    }

    .first-view-left {
        width: 100%;
    }

    .first-view-left {
        width: 100%;
        padding: 140rem 0 100rem;
        background-image: linear-gradient(to top, #FFF4F8, #FFF4F8, #FFF4F8, #FFF4F8, #FFF4F8DD, #FFF4F855, #FFF4F800, #FFF4F800);
    }
}

/* top message style */

.top-message {
    overflow: visible;
}

.top-message-container {
    position: relative;
    width: 100%;
    top: -10rem;
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 6px 6px #00000044;
}

.top-message-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-message-img {
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
}

.top-message-img img {
    width: 100%;
    height: 100%;
}

.top-message-text {
    width: 53%;
    padding: 26px 26px 0;
}

.top-message-text-bottom {
    font-size: 14px;
}

.top-message-text>div>a {
    font-size: 14px;
    color: #333;
}

@media (max-width: 768px) {
    .top-message-container {
        top: -30rem;
        margin-top: -50rem;
        padding: 24px 16px;
        border-radius: 10px;
        box-shadow: 0 3px 3px #00000044;
    }

    .top-message-content {
        display: block;
    }

    .top-message-img {
        width: 100%;
        border-radius: 10px;
    }

    .top-message-text {
        width: 100%;
        padding: 26px 0;
    }

    .top-message-text-bottom {
        font-size: 12px;
    }

    .top-message-text>div>a {
        font-size: 12px;
    }
}

/* section reason style start */

.reason {
    padding: 20px 0;
}

.reason-title {
    text-align: center;
}

.reason-title h2 {
    color: #FF607C;
    margin: 10px 0;
}

.reason-title h5 {
    color: #FFA9B8;
    margin: 30px 0;
}

.reason-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.reason-item {
    display: flex;
    justify-content: space-between;
}

.reason-item-img {
    width: 338px;
    height: 224px;
    border-radius: 20px;
    background: #FFF4F8;
    padding: 62px 119px;
}

.reason-item-content {
    padding-top: 40px;
    width: 65%;
}

.reason-item-content h3 {
    position: relative;
    margin-bottom: 10px;
}

.first-item-title::before {
    content: "01";
    display: block;
    position: absolute;
    color: #FF607C;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-family: 'DINAlternate';
    font-weight: 700;
    line-height: 60px;
    top: -20px;
    left: -95px;
}

.second-item-title::before {
    content: "02";
    display: block;
    position: absolute;
    color: #FF607C;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-family: 'DINAlternate';
    font-weight: 700;
    line-height: 60px;
    top: -20px;
    left: -95px;
}

.third-item-title::before {
    content: "03";
    display: block;
    position: absolute;
    color: #FF607C;
    text-align: center;
    font-size: 80px;
    font-family: 'DINAlternate';
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    top: -20px;
    left: -95px;
}

@media (max-width: 768px) {
    .reason-content {
        gap: 30px;
    }
    .reason-item {
        display: block;
    }

    .reason-item-img {
        width: 144px;
        height: 96px;
        padding: 18px 42px;
        margin: auto;
        border-radius: 10px;
        background: #FFF4F8;
    }

    .reason-item-content {
        padding-top: 20px;
        width: 100%;
    }

    .reason-item-content h3 {
        position: relative;
        text-align: center;
    }

    .reason-item-content h3::before {
        display: inline-block;
        font-size: 45px;
        position: unset;
        margin-right: 10px;
    }
}


/* section advantage style start */

.advantage {
    padding: 100px 0 50px;
    background-image: url('./images/advantage-bgd.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.advantage-content {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.advantage-item {
    padding: 20px 30px;
}

.advantage-item-img {
    border-radius: 20px;
    overflow: hidden;
}

.advantage-item-img img {
    width: 100%;
    height: 100%;
}

.advantage-item-content h4 {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    .advantage {
        padding: 70px 0 30px;
        position: relative;
        overflow: hidden;
        width: 100%;
        background-image: none;
    }

    .advantage::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1500px;
        height: 1500px;
        border-radius: 800px;
        background-color: #FFF4F8;
    }

    .advantage-content {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
    }

    .advantage-item {
        padding: 12px 0;
    }

    .advantage-item-img {
        border-radius: 10px;
    }

    .advantage-item-content h4 {
        height: 80px;
    }

}


/* section difficult style start */

.difficult {
    padding: 100px 0 0;
}

.difficult-title h4 {
    color: #FF607C;
    text-align: center;
}

.difficult-content {
    padding: 10px 0;
    position: relative;
}

.difficult-content-img {
    width: 370px;
    height: 450px;
    margin: 150px auto 0;
}

.difficult-content h5 {
    position: relative;
    color: #333;
    font-weight: normal;
    margin: 0;
}

.difficult-text1 {
    background-image: url('./images/difficult-text.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    padding: 50px;
    font-size: 24px;
    top: 0px;
    left: 0px;
    text-align: center;
}

.difficult-text1 h5::after {
    content: "";
    background-color: #FFF8EE;
    border-radius: 50%;
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: -70px;
    right: -70px;
}

.difficult-text1 h5::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #FFF8EE;
    bottom: -100px;
    right: -100px;
}

.difficult-text2 {
    background-image: url('./images/difficult-text.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    padding: 100px 50px;
    font-size: 24px;
    top: 30px;
    right: 0px;
    text-align: center;
}

.difficult-text2 h5::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #FFF8EE;
    bottom: -70px;
    left: -70px;
}

.difficult-text2 h5::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #FFF8EE;
    bottom: -100px;
    left: -100px;
}

.difficult-text3 {
    background-image: url('./images/difficult-text.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    padding: 50px 67px;
    font-size: 24px;
    top: 300px;
    left: 80px;
    text-align: center;
}

.difficult-text3 h5::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #FFF8EE;
    top: -20px;
    right: -100px;
}

.difficult-text3 h5::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #FFF8EE;
    top: -30px;
    right: -130px;
}

@media (max-width: 768px) {
    .difficult {
        padding: 50px 0 0;
    }

    .difficult-title h2 {
        margin: 10px 0;
    }

    .difficult-title h5 {
        margin: 10px 0;
    }

    .difficult-content-img {
        width: 200px;
        height: 240px;
        margin: 200px auto 0;
    }

    .difficult-text1 {
        background-image: url('./images/difficult-text.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        padding: 24px 20px;
        font-size: 24px;
        top: 0px;
        left: 60px;
        text-align: center;
    }

    .difficult-text1 h5::after {
        content: "";
        background-color: #FFF8EE;
        border-radius: 50%;
        position: absolute;
        height: 12px;
        width: 12px;
        bottom: -50px;
        right: 50px;
    }

    .difficult-text1 h5::before {
        content: "";
        border-radius: 50%;
        position: absolute;
        height: 7px;
        width: 7px;
        background-color: #FFF8EE;
        bottom: -70px;
        right: 40px;
    }

    .difficult-text2 {
        background-image: url('./images/difficult-text.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        padding: 42px 7px;
        font-size: 24px;
        top: 100px;
        right: 0px;
        text-align: center;
    }

    .difficult-text2 h5::after {
        content: "";
        border-radius: 50%;
        position: absolute;
        height: 12px;
        width: 12px;
        background-color: #FFF8EE;
        bottom: -60px;
        left: 50px;
    }

    .difficult-text2 h5::before {
        content: "";
        border-radius: 50%;
        position: absolute;
        height: 7px;
        width: 7px;
        background-color: #FFF8EE;
        bottom: -80px;
        left: 40px;
    }

    .difficult-text3 {
        background-image: url('./images/difficult-text.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        padding: 22px 25px;
        font-size: 24px;
        top: 130px;
        left: 0;
        text-align: center;
    }

    .difficult-text3 h5::after {
        content: "";
        border-radius: 50%;
        position: absolute;
        height: 12px;
        width: 12px;
        background-color: #FFF8EE;
        top: 50px;
        right: -40px;
    }

    .difficult-text3 h5::before {
        content: "";
        border-radius: 50%;
        position: absolute;
        height: 7px;
        width: 7px;
        background-color: #FFF8EE;
        top: 60px;
        right: -60px;
    }
}

/* section difficult bottom style start */

.difficult-bottom {
    position: relative;
    margin-top: -225px;
    padding: 300px 0 0;
    background-image: url('./images/difficult-bgd.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

@media (max-width:1620px) {
    .difficult-bottom {
        margin-top: -200px;
    }
}

.difficult-bottom-title h3 {
    font-weight: normal;
    text-align: center;
    color: #333;
}

.difficult-bottom-title h2 span {
    color: #333;
}

.difficult-bottom-content {
    display: flex;
    justify-content: space-between;
}

.difficult-bottom-img {
    width: 50%;
}

.difficult-bottom-img:last-of-type {
    padding: 50px;
}

.difficult-bottom-img:last-of-type>div {
    padding: 10px;
    border-radius: 20px;
    background-color: #FFF;
}

.difficult-bottom-img:last-of-type>div>div {
    border: 2px solid #FFA9B8;
    padding: 30px;
    border-radius: 15px;
}

.difficult-bottom-img:last-of-type h3 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

.difficult-bottom-img:last-of-type img {
    width: 290px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}



@media (max-width: 768px) {

    .difficult-bottom {
        position: relative;
        margin-top: -90px;
        padding: 150px 0 0;
        background-image: url('./images/difficult-bgd.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
    }

    .difficult-bottom-content {
        display: block;
    }

    .difficult-bottom-img {
        width: 100%;
    }

    .difficult-bottom-img:last-of-type {
        padding: 50px 0;
    }
}




/* section working style start */

.working {
    padding: 120px 0;
}

.working-title h4 {
    text-align: center;
    color: #FF607C;
}

.working-content {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.working-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.order-change {
    order: -1;
}

.working-item-img {
    position: relative;
    width: 400px;
    max-width: 100%;
    height: min-content;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
}

.working-item-content {
    margin-top: 50px;
    padding: 45px 0 40px;
    position: relative;
    width: 650px;
}

.working-item-content-three {
    padding: 45px 0 60px;
}

.working-item-content::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150rem;
    height: -webkit-fill-available;
    border-radius: 20px;
    background: #FFF4F8;
}

.working-item-content-after {
    position: absolute;
    color: #FF607C;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-family: 'DINAlternate';
    font-weight: 700;
    line-height: 60px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.working-item-content h3 {
    text-align: center;
    margin: 10px 0;
    position: relative;
}

.working-item-content h5 {
    position: relative;
    text-align: center;
    font-weight: normal;
    color: #333;
    margin: 0;
}

.working-item-content p {
    position: relative;
    font-size: 16px;
}


@media (max-width: 768px) {
    .working-item {
        display: block;
        width: 100%;
        justify-content: space-between;
    }

    .working-item-img {
        margin: auto;
    }

    .working-item-content {
        width: 100%;
        margin-top: -200px;
        padding: 300px 20px 30px;
    }

    .working-item-content::before {
        width: 100%;
    }

    .working-item-content p {
        font-size: 14px;
    }
    .working-item-content-after {
        top: 240px;
        font-size: 45px;
    }
}

@media (max-width: 480px) {
    .working-item-img {
        width: 270px;
        height: 180px;
    }

    .working-item-content {
        margin-top: -130px;
        padding: 220px 20px 30px;
    }
    .working-item-content-after {
        top: 160px;
    }
}

/* section apply style start */

.apply {
    background-color: #FF7E95;
    padding: 50px 0;
}

.apply-easy {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin: 0 auto 15px;
}

.apply-easy::before {
    content: "∖";
    display: inline-block;
    margin-right: 20px;
    font-size: 28px;
}

.apply-easy::after {
    content: "⁄";
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
}

.apply-btn {
    padding: 26px 70px;
    display: block;
    margin: auto;
    background-color: #FFF;
    color: #FF7E95;
    font-weight: 700;
    border-radius: 40px;
    border: none;
}

.apply-btn::after {
    content: ">";
    font-weight: normal;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 30px;
    border-radius: 50%;
    background-color: #FF7E95;
    color: #FFF;
}


@media (max-width: 480px) {
    .apply-easy {
        font-size: 14px;
    }
    .apply-btn {
        padding: 14px 60px;
    }
    .apply-btn::after {
        width: 16px;
        height: 16px;
    }
    .apply-easy::before {
        font-size: 18px;
    }
    .apply-easy::after {
        font-size: 20px;
    }
}

/* section plans style start */

.plan {
    padding: 120px 0;
}

.plan-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.plan-item-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 80px;
    font-family: 'DINAlternate';
    color: #FF607C;
}

.plan-item-number::before,
.plan-item-number::after {
    content: "";
    display: block;
    width: 40%;
    height: 1px;
    background-color: #FF607C;
}

.plan-item-title {
    text-align: center;
}

.plan-item-title p {
    font-size: 16px;
    margin-top: 12px;
}

.plan-item-content-title>h4 {
    width: max-content;
    margin: 30px auto;
    display: flex;
    align-items: center;
    gap: 20px;
    align-items: center;
}

.plan-item-content-title>h4::after,
.plan-item-content-title>h4::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #FF7E95;
    border-radius: 50%;
}

.plan-item-command-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 0;
}

.plan-item-command-list {
    width: 346px;
    height: 200px;
    border-radius: 20px;
    background: #FFF4F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 20px;
}

.plan-item-command-list img {
    height: 80px;
    width: auto;
    max-width: 100px;
}

.plan-item-command-list h5 {
    color: #333;
    font-weight: normal;
    margin: 0;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
}

.plan-item-schedule-content {
    display: grid;
    grid-template-columns: 38% 1fr;
    grid-gap: 10px;
    padding: 20px 0;
}

.plan-item-schedule-content>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
}

.plan-item-schedule-content>div h5 {
    margin: 0;
    line-height: 30px;
    color: #333;
    padding: 30px 0 18px;
    width: 100%;
    position: relative;
}

.plan-item-schedule-content>div:first-of-type {
    position: relative;
    z-index: 2;
    /* width: 38%; */
}

.plan-item-schedule-content>div:first-of-type h5 {
    background-color: #FFDD65;
}

.plan-item-schedule-content>div h5::before {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFF;
    font-weight: bold;
    border: 4px solid;
    padding: 3px 14px;
    border-radius: 25px;
}

.plan-item-schedule-content>div:first-of-type h5::before {
    content: "日本";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFF;
    color: #FFDD65;
    font-weight: bold;
    border: 4px solid;
    padding: 2px 14px;
    border-radius: 25px;
}

.plan-item-schedule-content>div>div {
    padding: 20px 0px;
    position: relative;
}

.plan-item-schedule-content>div>div span {
    position: relative;
    display: inline-block;
    width: 120px;
    line-height: 30px;
    background-color: #FFF;
}

.plan-item-schedule-content>div>div img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plan-item-schedule-content>div:last-of-type {
    /* width: 60%; */
}

.plan-item-schedule-content>div:last-of-type h5 {
    background-color: #FFA9B8;
}

.plan-item-schedule-content>div:last-of-type h5::before {
    content: "カナダ";
    color: #FFA9B8;
}

.plan-item-cost-content {
    padding: 20px 0px;
}

.plan-item-cost-content table {
    width: 710px;
    max-width: 100%;
    margin: auto;
}

.plan-item-cost-content table,
.plan-item-cost-content tr,
.plan-item-cost-content td,
.plan-item-cost-content th {
    border: 5px solid #FFF;
    border-collapse: collapse;
    font-size: 24px;
    color: #333;
    font-weight: 400;
    text-align: center;
}

.plan-item-cost-content td {
    padding: 18px 0;
    background-color: #FFF4F8;
}

.plan-item-cost-content td span {
    font-size: 16px;
    display: block;
}

.plan-item-cost-content th {
    padding: 18px 0;
    background-color: #FFE5EA;
}

.plan-item-command-content-three {
    width: 800px;
    max-width: 100%;
    margin: auto;
}

.plan-item-schedule-content-two {
    display: grid;
    grid-template-columns: 32% 14% 1fr;
    grid-gap: 6px;
    padding: 20px 0;
}

.plan-item-schedule-content-two>div>h5 {
    padding: 49px 0 43px;
}

.plan-item-two-two{
    position: relative;
}

.plan-item-two-two h5{
    position: relative;
}

.plan-item-two-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    display: block;
    width: calc(100% + 6px);
    height: 18px;
    background-color: #FFA9B8;
    border-bottom: solid #FFF 6px;
    z-index: 1;
}

.plan-item-two-two>h5::after{
    content: "";
    position: absolute;
    left: -9px;
    bottom: 0px;
    display: block;
    width: calc(60% + 6px);
    height: 12px;
    background-color: #FFF8DF;
    border: solid #FFDD65 3px;
    outline: 6px solid #FFF;
    z-index: 1;
}

.plan-item-two-two>h5{
    background-color: #FFE5EA;
}

.plan-item-two-two>div>span {
    width: 80px;
}

.plan-schedule-three-one>div>h5 {
    padding: 48px 0 42px;
}

.plan-schedule-three-one>div:first-of-type>h5 {
    position: relative;
}

.plan-schedule-three-one>div:first-of-type>h5::after {
    position: absolute;
    left: 100%;
    bottom: 0;
    content: "";
    display: block;
    width: 33%;
    height: 24px;
    background-color: #FFF8DF;
    border: solid 3px #FFDD65;
    border-left: none;
    z-index: -1;
    outline: 6px solid #FFF;
}


@media (max-width: 950px) {
    .plan {
        padding: 50px 0;
    }
    .plan .container{
        padding: 0 10px;
    }
    .plan-content {
        gap: 50px;
    }
    .working-title h5 {
        margin: 10px 0;
    }
    .plan-item-number {
        font-size: 45px;
    }
    .plan-item-command-content{
        justify-content: space-around;
        gap: 6rem;
    }
    .plan-item-command-list {
        width: 240px;
        max-width: 100%;
        height: 132px;
        gap: 10px;
    }
    .plan-item-command-list img {
        height: 60px;
        width: auto;
        max-width: 75px;
    }
    .plan-item-schedule-content>div>div>span{
        font-size: 14px;
        width: 40px;
    }
    .plan-item-cost-content td,
    .plan-item-cost-content th {
        font-size: 14px;
    }
    .plan-item-cost-content td span {
        font-size: 10px;
    }
    .plan-item-schedule-content>div>div {
        padding: 10px 0;
    }
    .plan-item-content-title>h4 {
        margin: 25px auto 15px;
    }
    .plan-item-content-title>h4::after, 
    .plan-item-content-title>h4::before {
        width: 7px;
        height: 7px;
    }
    .plan-item-two-two>div>span {
        width: 40px;
    }

    .plan-item-schedule-content-two>div>h5 {
        padding: 30px 0 20px;
        line-height: 14px;
    }
    .plan-item-two-two::before{
        height: 12px;
    }
    .plan-item-two-two>h5::after{
        height: 10px;
        left: -7px;
        border-width: 1px;
    }
    .plan-schedule-three-one>div>h5 {
        padding: 28px 0 22px;
    }
}

/* this is start content of contact */

.contact {
    background-color: #FF7E95;
    padding: 60px 0 116px;
}

.contact-title h2,
.contact-title h5 {
    color: #FFF;
}

.contact-content {
    width: 100%;
    background-color: #FFF;
    padding: 40px 50px;
}

.contact-item {
    padding: 7px 0px;
}

.contact-item>label {
    padding: 20px 0;
    display: block;
    font-size: 28px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 20px;

}

.contact-item>label::after {
    content: "必須";
    background-color: #FF607C;
    color: #FFF;
    padding: 5px 17px;
    font-size: 18px;
    border-radius: 20px;
}

.contact-item>input,
.contact-item>select {
    display: block;
    font-size: 28px;
    color: #333;
    padding: 15px;
    border-radius: 15px;
    background-color: #FFE5EA;
    border: none;
    width: 100%;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 50px;
}

.submit-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 24px 100px;
    background-color: #FF607C;
    border-radius: 100px;
    border: none;
    gap: 20px;
}

.submit-btn button span {
    font-size: 28px;
    word-break: keep-all;
    color: #FFF;
}

.contact-wait-text {
    margin-top: 60px
}

.contact-wait-text p,
.contact-add-text p {
    font-size: 22px;
}

.contact-item-checkbox {
    display: flex;
    font-size: 20px;
}

.contact-item-checkbox>div {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr;
    width: 150px;
}

.contact-item-checkbox>div>input {
    width: 20px;
    height: 20px;
}

.contact-item-checkbox>div>input {
    width: 20px;
    height: 20px;
}

.contact-career-content {
    padding: 10px 0;
    width: 100%;
}

.contact-career-item {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.contact-career-item>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 24px;
}

.contact-career-item>div>label {
    width: 100%;
    font-size: 24px;
}

.contact-career-item>div>input,
.contact-career-item>div>select {
    display: block;
    font-size: 20px;
    color: #333;
    padding: 15px;
    border-radius: 15px;
    background-color: #FFE5EA;
    border: none;
    width: 100%;
}

@media (max-width: 768px) {
    .contact-item label{
        font-size: 14px;
        padding: 8px 0;
    }
    .contact-item label::after{
        font-size: 8px;
        padding: 3px 10px;
    }
    .contact-content{
        padding: 16px;
    }
    .contact-item input,
    .contact-item>select  {
        font-size: 16px;
        padding: 10px;
        border-radius: 10px;
    }
    .contact-wait-text p, 
    .contact-add-text p {
        font-size: 14px;
    }
    .submit-btn {
        padding: 15px 0 25px;
    }
    .submit-btn button {
        padding: 13px 50px;
    }
    .submit-btn button img {
        width: 20px;
        height: 20px;
    }
    .submit-btn button span {
        font-size: 14px;
    }
    .contact-wait-text {
        margin-top: 30px;
    }
}


.fadein {
    opacity: 0;
    transition: all 1.5s;
    transform: translate(0, 100px);
  }
  
  .fadein.visible {
    opacity: 1;
    transform: translate(0, 0);
  }